/* RESET-ish */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #ddd;
    text-align: center;
}

/* HEADER */
header {
    background: #3b7ddd;
    color: white;
    padding: 1rem;
}

nav {

}

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 0.5rem;
    }

/* MAIN */
main {
    padding: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

/* GALLERY */
.gallery {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
}

    .gallery img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border: 4px solid white;
    }

/* FOOTER */
footer {
    background: #3b7ddd;
    color: white;
    padding: 0.5rem;
    margin-top: 1rem;
}

/* Mobile */
@media (max-width: 599px) {
    .gallery {
        grid-template-columns: 300px;
    }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 899px) {
    .gallery {
        grid-template-columns: repeat(2, 300px);
    }
}

/* Desktop */
@media (min-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 300px);
    }
}