/*

*/

/* RESET-ish */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #ddd;
    text-align: center;
}

    body.no-scroll {
        overflow: hidden;
    }

/* HEADER */
header {
    background: #3b7ddd;
    color: white;
    padding: 1rem;
}

nav {

}

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 0.5rem;
    }

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem; 
    cursor: pointer;
    margin-top: 0.5rem;
}

/* Nav dropdown */
.nav-menu {
    background: #3b7ddd;
    display: flex;
    flex-direction: column;
}

    .nav-menu a {
        color: white;
        text-decoration: underline;
        padding: 0.75rem;
        font-size: 1.1rem; 
    }

        .nav-menu a:hover {
            background: rgba(255,255,255,0.15);
        }

.hidden {
    display: none;
}

/* MAIN */
main {
    padding: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

/* GALLERY */
.gallery {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
}

    .gallery img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border: 4px solid white;
    }

figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}

dialog {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,.75);
}

.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

/* FOOTER */
footer {
    background: #3b7ddd;
    color: white;
    padding: 0.5rem;
    margin-top: 1rem;
}


/* Tablet */
@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Desktop */
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 300px);
    }

    dialog img {
        width: 60%;
        margin: 15vh auto;
    }

    .close-viewer {
        position: absolute;
        right: 15vh;
    }
}